/* display */
.is-none {
	display: none;
}

.is-call {
	pointer-events: none;
}

.u-inlineBlock {
	display: inline-block;
}

@include media-breakpoint-pc-tab {
	.u-onlySp {
		display: none !important;
	}
}

@include media-breakpoint-tab-sp {
	.is-call {
		pointer-events: initial;
		cursor: pointer;
	}
}

@include media-breakpoint-sp {
	.u-onlyPc {
		display: none !important;
	}
	.u-group{
		display: flex;
		justify-content: center;
		.l-footer{
			&__text{
				&:last-child{
					text-indent: 8px;
				}
			}
		}
	}
}