/* accordion */

.c-accordion {
    &__item {
        margin-bottom: 10px;
    }
    &__head {
        background-color: $brand-color;
        position: relative;
        color: #fff;
        letter-spacing: 0.05em;
        line-height: 1.75;
        display: flex;
        align-items: center;
        padding: .75em 1em;
        cursor: pointer;
        &:before {
            right: 32px;
            top: 50%;
            width: 24px;
            height: 24px;
            border: 1px solid #fff;
            border-radius: 50%;
            content: "";
            position: absolute;
            transform: translateY(-50%);
        }
        &:after{
            content: "";
            position: absolute;
            width: 11px;
            height: 1px;
            background: #fff;
            right: 39px;
            top: 50%;
            transition: all 0.3s;
            transform:  rotate(90deg);
        }
        span {
            &:after{
                content: "";
                position: absolute;
                width: 11px;
                height: 1px;
                background: #fff;
                right: 39px;
                top: 50%;
                transition: all 0.3s;
            }
        }
        &.--center {
            text-align: center;
            padding: 10px 70px;
            justify-content: center;
            font-size: rem(20);
        }
        &.--q {
            padding: 10px 70px 10px 21px;
            font-size: rem(16);
            span {
                display: flex;
                align-items: flex-start;
                &:before {
                    content: "Q.";
                    font-size: rem(18);
                    margin-right: 10px;
                    margin-top: -3px;
                }
            }
        }
        &.is-close {
            &:after {
                transform: rotate(0deg);
            }
        }
    }
    &__body {
        background: #ededed;
        padding: .75em 1em;
        display: none;
        &.--a {
            padding: 33px 41px 27px;
            color: #141c28;
            line-height: 2;
            a {
                color: $brand-color;
                text-decoration: underline;
                display: inline-block;
            }
            &.--py1 {
                padding-top: 23px;
                padding-bottom: 22px;
            }
        }
    }
}

// Desktop + Tablet
// --------------------------------------------------
@include media-breakpoint-pc-tab {
    .c-accordion  {
        &__body {
            a {
                transition: all 0.3s;
                &:hover {
                    opacity: 0.7;
                    text-decoration: none;
                }
            }
        }
    }
}

//Phone
// --------------------------------------------------
@include media-breakpoint-sp {
    .c-accordion {
        &__head {
            min-height: 45px;
            &:before {
                right: 14px;
                width: 22px;
                height: 22px;
            }
            &:after {
                right: 20px;
                width: 10px;
            }
            span {
                &:after {
                    width: 10px;
                    right: 20px;
                }
            }
            &.--center {
                padding: 5px 50px;
                font-size: rem(18);
            }
            &.--q {
                padding: 5px 46px 5px 14px;
                span:before {
                    margin-right: 4px;
                }
            }
        }
        &__body {
            &.--a {
                padding: 16px 16px 12px;
            }
        }
    }
}