/* anchor */ 

.c-anchor {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px 0;
    background: #f4f4f4;
    font-family: $font-family-gothic;
    margin-bottom: 52px;
    &__link {
        font-size: rem(15);
        letter-spacing: 0.05em;
        color: #002e42;
        text-decoration: underline;
        width: 100%;
        padding: 12px 0;
        display: inline-block;
    }
    &__item {
        &.--current {
            font-weight: bold;
            .c-anchor {
                &__link {
                    text-decoration: none;
                }
            }
        }
    }
    &.--col4 {
        .c-anchor {
            &__item {
                width: calc(100% / 4);
                text-align: center;
                background: #f4f4f4;
            }
        }
    }
    &.--center {
        justify-content: center;
    }
    &.--inline {
        .c-anchor__item {
            margin: 0 15px;
        }
    }
    &.--inlineGrow {
        .c-anchor__item {
            margin: 0 10px;
            flex-grow: 1;
            text-align: center;
        }
    }
}


// Desktop + Tablet
// --------------------------------------------------
@include media-breakpoint-pc-tab {
    .c-anchor {
        &__link {
            transition: all 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
//Phone
// --------------------------------------------------
@include media-breakpoint-sp {
    .c-nav2 {
        flex-wrap: wrap;
        padding: 10px 0;
        &__link {
            font-size: rem(14);
            padding: 6px 0;
        }
        &.--col4 {
            .c-nav2__item {
                width: 50%;
            }
        }
        &.--colSp3 {
            .c-nav2__item {
                width: calc(100% / 3)
            }
        }
        &.--inline {
            .c-nav2__item {
                margin: 0 7px;
            }
        }
    }
}