/* btn */

.c-button {
    text-align: center;
    font-feature-settings: "palt" 1;
    letter-spacing: 0.05em;
    font-size: rem(18);
    line-height: 1.7;
    font-weight: 600;
    transition: 0.3s all linear;
    cursor: pointer;

    &.--center {
        text-align: center;
    }
    &:hover{
        opacity: 1;
    }

    &__more {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 450px;
        width: 100%;
        padding: 24px 20px;
        background-color: #005DAC;
        margin: 0 auto;
        color: #fff;

        &::before {
            content: "";
            display: block;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.1);
            mix-blend-mode: normal;
            transition: 0.3s all ease;
        }

        &::after {
            content: "";
            width: 8px;
            height: 12px;
            display: inline-block;
            background: url('./images/common/arrow_w.svg') no-repeat center / contain;
            position: relative;
            top: 50%;
            right: 10%;
            transform: translate(-50%, -50%);
            position: absolute;
            transition: 0.3s all ease;
        }

        &:hover {
            opacity: 1;
            .c-button {
                &__btntext {
                    opacity: 1;
                }
            }

            &::before {
                width: 0;
            }

            &::after {
                right: calc(10% - 10px);
            }
        }
    }

    &__recruit {
        cursor: pointer;
        display: block;
        max-width: 450px;
        width: 100%;
        padding: 24px 20px 23px;
        background-color: rgba(0, 0, 0, 0.2);
        position: relative;
        margin: 0 auto;
        color: #fff;
        font-feature-settings: "palt" 0;

        &::after {        
            content: "";
            width: 8px;
            height: 12px;
            display: inline-block;
            background: url('./images/common/arrow_w.svg') no-repeat center / contain;
            position: relative;
            top: 50%;
            right: 9%;
            transform: translate(-50%, -50%);
            position: absolute;
            transition: 0.3s all ease;
        }
        &:hover{
            &::after{
                right: calc(9% - 10px);
            }
        }

    }

    &__form {
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 13px 20px 12px;
        background-color: #E0243B;
        position: relative;
        text-align: center;
        transition: all 0.3s;

        &.--contact {
            padding: 22px 20px 19px;

            &::after {
                width: 8px;
                height: 12px;
                right: 10%;
            }

            .c-button {
                &__btntext {
                    &::before {
                        width: 22px;
                        height: 16px;
                        left: -20%;
                    }
                }
            }
        }

        &.--footer {
            width: 82.8%;
            padding: 17px 20px 16px;

            .c-button {
                &__btntext {
                    &::before {
                        left: -22%;
                    }
                }
            }

            &::after {
                right: 11%;
            }
        }

        .--fs16 {
            font-size: rem(16);
        }

        &::before {
            content: "";
            display: block;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.1);
            mix-blend-mode: normal;
            transition: 0.3s all ease;
        }

        &::after {
            content: "";
            width: 7px;
            height: 10px;
            display: inline-block;
            background: url('./images/common/arrow_w.svg') no-repeat center / contain;
            position: relative;
            top: 50%;
            right: 8%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        &:hover {
            opacity: 1;
            .c-button {
                &__btntext {
                    opacity: 1;
                }
            }

            &::before {
                width: 0;
            }
        }
    }

    &__btntext {
        color: #fff;
        position: relative;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.05em;
        font-size: rem(14);
        left: 10px;
        top: -1px;
        cursor: pointer;

        &::before {
            content: "";
            width: 20px;
            height: 14px;
            display: inline-block;
            background: url('./images/common/icon_mail.svg') no-repeat center / contain;
            position: relative;
            top: 50%;
            left: -24%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        &.--fs16 {
            font-size: rem(16);
        }
    }
}
//Phone

@include media-breakpoint-sp {
    .c-button {
        font-size: rem(13);

        &__more {
            max-width: 265px;
            line-height: 1.4;
            padding: 17px 20px 18px;
            font-feature-settings: "palt" 0;
            &::after {
                width: 6.5px;
                height: 10px;
            }
        }
        &__form{
            padding: 18px 20px 16px;
            &.--footer{
                margin: 0 auto;
                max-width: 325px;
            }
            &.--contact{
                padding: 17px 20px;
                &::after{
                    width: 7px;
                    height: 10px;
                    right: 8%;
                }
                .c-button{
                    &__btntext{
                        left:5px;
                        &::before{
                            width: 18px;
                            height: 13px;
                            left: -20%;
                        }
                    }
                }
            }
        }
        &__btntext{
            font-size: rem(13);
            left: 5px;
            &.--fs16{
                font-size: rem(13);
            }
        }
    }
}