/* btn */ 

.c-button {
    &.--center {
        text-align: center;
    }
    &__link {
        display: inline-block;
        position: relative;
        min-width: 300px;
        margin: 10px;
        background-color: #00927d;
        padding: 10px;
        border: 1px solid #00927d;
        font-size: rem(16);
        font-family: $font-family-gothic;
        color: #fff;
        text-align: center;
        &:after {
            content: "";
            width: 13px;
            height: 12px;
            display: inline-block;
            position: absolute;
            right: 1.5em;
            top: 50%;
            transform: translateY(-50%);
            background: url(images/common/arrowRW.png) no-repeat center / contain;
        }
        &[target="_blank"]:after {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            background: url(images/common/icon_blankW.png) no-repeat center / contain;
            margin-left: 10px;
        }
        &.--pdf:after {
            content: "";
            display: inline-block;
            width: 27px;
            height: 13px;
            background: url(images/common/icon_pdf.png) no-repeat center / contain;
            margin-left: 10px;
        }
        &.--color1{
            background-color: #fff;
            color: #00927d;
            &:after {
                background: url(images/common/arrowRG.png) no-repeat center / contain;
            }
        }
        &.--back{
            &:after {
                right: inherit;
                left: 1.5em;
                background: url(images/common/arrowLW.png) no-repeat center / contain;
            }
        }
    }
}



// Desktop + Tablet
// --------------------------------------------------
@include media-breakpoint-pc-tab {
    .c-button {
        &__link {
            transition: 0.3s all;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}


// Phone
// --------------------------------------------------
@include media-breakpoint-sp {
    .c-button {
        text-align: center;
    }
}