/* list */

.c-listDot {
    margin-left: 22px;
    font-size: rem(16);
    color: #141c28;
    > li {
        position: relative;
        &::before {
            position: absolute;
            left: -22px;
            top: 10px;
            display: block;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        + li {
            margin-top: 5px;
        }
    }
    &.--ml1 {
        margin-left: 35px;
    }
    &.--ml2 {
        margin-left: 26px;
    }
    &.--color1 {
        > li {
            &:before {
                background-color: $brand-color;
            }
        }
    }
    &.--color2 {
        > li {
            &:before {
                background-color: $brand-sub-color;
            }
        }
    }
    &.--underline {
        a {
            text-decoration: underline;
            transition: all 0.3s;
        }
    }
    &.--textColor1 {
        color: #000;
    }
    &__subTxt {
        display: block;
        margin-left: 16px;
        font-weight: 400;
    }
}
.c-listOrder {
    list-style: decimal;
    margin-left: 1.1em;
}
.c-listOl{
    font-size: rem(16);
    margin-left: 18px;
    color: #141c28;
    list-style: decimal;
    > li {
        + li {
            margin-top: 5px;
        }
    }
    &.--ml1 {
        margin-left: 30px;
    }
}
.c-listDl {
    font-size: rem(16);
    dt {
        font-weight: bold;
        letter-spacing: 0.05em;
        color: $brand-sub-color;
        line-height: 1.68;
        margin-bottom: -1px;
        &.--color1 {
            color: #000;
        }
        &.--normal {
            font-weight: normal;
        }
        &:not(:first-child) {
            margin-top: 8px;
        }
    }
    dd {
        color: #141c28;
        margin-left: 14px;
        &.--ml0 {
            margin-left: 0 !important;
        }
    }
    &.--ml1 {
        margin-left: 12px;
    }
}

//Phone
// --------------------------------------------------
@include media-breakpoint-sp {
    .c-listDot {
        margin-left: 20px;
        &.--ml2 {
            margin-left: 20px;
        }
        &.--ml1 {
            margin-left: 20px;
        }
        > li {
            &:before {
                left: -18px;
            }
        }
    }
}