/* mainvisual */ 

.c-mainvisual {
    &__item {
        width: 100%;
        height: calc(100vh - 86px);
        background-size: cover;
        background-position: center;
        background-image: url('./images/index/bg_mv.jpg');
    }
}
//Phone
@include media-breakpoint-sp{
    .c-mainvisual{
        &__item{
            height: auto;
            padding-bottom: 80%;
            background-image: url('./images/index/bg_mv_sp.jpg');
            position: relative;
            top:55px;
        }
    }
}

