/* section recruit*/
.c-recruit{
    text-align: center;
    color: #fff;
    z-index: 2;
    &__title{
        margin-bottom: 29px;
    }
    &__desc{
        font-size: rem(16);
        font-weight: 300;
        letter-spacing: 0.05em;
        line-height: 1.875;
        margin-bottom: 43px;
    }
}
//Phone
@include media-breakpoint-sp{
    .c-recruit{
        padding: 0 15px;
        &__title{
            width: 87%;
            margin: 0 auto 20px;
        }
        &__desc{
            text-align: left;
            font-size: rem(13);
            line-height: 1.7;
            margin-bottom: 25px;
        }
    }
}