/* text */
.c-desc{
    color: $text-color;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 1.75;
    font-size: rem(16);
    &.--center{
        text-align: center;
    }
    &.--info{
        color: #fff;
        margin-top: 36px;
    }
    &.--contact{
        line-height: 1.6;
        margin-bottom: 0.8em;
    }
}
@include media-breakpoint-tab-sp{
    .c-desc{
        font-size: rem(13);
        &.--info{
            margin-top: 29px;
            font-size: rem(11);
        }
        &.--contact{
            line-height: 1.7;
            margin-right:-1px;
            margin-bottom: 1.9em;
        }
    }
}