/* imgTxt */
.l-imgTxt {
    &__content {
        padding: 23px 24px 15px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex:1;
    }

    &__title {
        font-size: rem(20);
        letter-spacing: 0.05em;
        line-height: 1.4;
        font-weight: 600;
        color: $text-color;
        margin-bottom: 9px;
        height: 100%;
    }

    &__label {
        font-size: rem(12);
        font-weight: 300;
        letter-spacing: 0.05em;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        padding: 1px 10px;
        width: max-content;
        border-radius: 1px;
        margin-bottom: 6px;

        &.--blue {
            background-color: #567795;
        }

        &.--green {
            background-color: #569595;
        }
    }

    &__text {
        font-size: rem(16);
        font-weight: 300;
        color: $text-color;
        letter-spacing: 0.05em;
        text-align: right;
        margin-top: auto;
    }

    &.--col3 {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .l-imgTxt {
            &__item{
                width: calc(90.6% /3);
                display: flex;
                flex-direction: column;

            }
        }
    }
}

.l-imgTxt01 {
    &__img {
        margin-bottom: 1em;
        overflow: hidden;

        >div {
            background: transparent no-repeat center;
            background-size: cover;
            padding-top: 30.17%;
            transition: all 0.5s;
        }
    }

    &__ttl {
        font-size: rem(18);
        margin-bottom: 5px;
        color: $brand-color;

        &.--fs1 {
            font-size: rem(16);
        }

        &.--center {
            text-align: center;
        }
    }

    &__text {
        font-size: rem(16);
    }

    &.--col1 {
        .l-imgTxt01 {
            &__item {
                margin-bottom: 4em;
            }

            &__img {
                >div {
                    padding-top: 30.2%;
                }
            }
        }
    }

    &.--col2 {
        display: flex;
        flex-wrap: wrap;
        gap: 4%;

        >* {
            width: calc(96% /2);
        }

        .l-imgTxt01 {
            &__item {
                margin-bottom: 3em;
            }

            &__img {
                >div {
                    padding-top: 63.04%;
                }
            }
        }
    }

    &.--col3 {
        display: flex;
        flex-wrap: wrap;
        gap: 4.7%;

        >* {
            width: calc(90.6% /3);
        }

        .l-imgTxt01 {
            &__item {
                margin-bottom: 2em;
            }

            &__img {
                div {
                    padding-top: 100%;
                }
            }
        }
    }

    &.--col4 {
        display: flex;
        flex-wrap: wrap;
        gap: 50px 3.4%;

        >* {
            width: calc(89.8% /4);
        }

        .l-imgTxt01 {
            &__img {
                margin-bottom: 1em;

                div {
                    padding-top: 100%;
                }
            }
        }
    }
}

.l-imgTxt02 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4em;

    &__img {
        width: 50%;
        overflow: hidden;

        >div {
            background: transparent no-repeat center;
            background-size: cover;
            padding-top: 60.5%;
        }
    }

    &__cont {
        width: 50%;
        padding-left: 2em;

        .ttl {
            font-size: rem(18);
            margin-bottom: 1em;
            color: $brand-color;
        }
    }

    &.--rl {
        flex-direction: row-reverse;

        .l-imgTxt02 {
            &__cont {
                padding: 0 2em 0 0;
                margin-top: 10px;

                &.--mt1 {
                    margin-top: 5px;
                }
            }
        }
    }
}

.l-imgTxt03 {
    position: relative;
    margin-bottom: 5em;

    &__inner {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1000px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__img {
        background: transparent no-repeat center / cover;
        width: calc(50% - 150px);
        position: relative;
        z-index: 1;

        &.--imgLeft {
            background: transparent no-repeat left center / cover;
        }

        &:after {
            content: "";
            display: block;
            padding-top: 50%;
            min-height: 320px;
        }

        &.--rightCenter {
            background-position: right center;
        }
    }

    &__cont {
        width: 59.16%;
        margin-left: auto;
        padding: 7px 0 0;

        .ttl {
            font-size: rem(18);
            margin-bottom: 1.5em;
            color: $brand-color;

            &.--fs1 {
                font-size: rem(22);
            }

            small {
                font-size: rem(13);
                vertical-align: middle;
                display: inline-block;
            }
        }
    }

    &.--rl {
        .l-imgTxt03 {
            &__img {
                margin-left: auto;
            }

            &__cont {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }
}

.l-imgTxt04 {
    &__img {
        height: 390px;
        background: transparent no-repeat center;
        background-size: cover;
        margin-bottom: -200px;
    }

    &__inner {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1240px;
        margin: 0 auto;
    }

    &__cont {
        background-color: #fff;
        margin: 0 auto;
        padding: 4em 0;

        .wrap {
            padding-left: 20px;
            padding-right: 20px;
            max-width: 1000px;
            margin: 0 auto;
        }

        .text {
            font-size: rem(16);
        }
    }
}

// Desktop + Tablet
// --------------------------------------------------
@include media-breakpoint-pc-tab {
    .l-imgTxt02 {
        &.--adjust1 {
            .l-imgTxt02 {
                &__img {
                    width: 48%;

                    >div {
                        padding-top: 63%;
                    }
                }

                &__cont {
                    width: 52%;

                    .ttl {
                        font-size: rem(26);
                        margin-bottom: 26px;
                    }
                }
            }
        }
    }
}

// Desktop
// --------------------------------------------------
@include media-breakpoint-pc {
    .l-imgTxt01 {
        a {
            &:hover {
                .l-imgTxt01 {
                    &__img {
                        >div {
                            transform: scale(1.1);
                        }
                    }

                    &__ttl,
                    &__text {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

// Tablet
// --------------------------------------------------
@include media-breakpoint-tab {}

// Tablet + Phone
// --------------------------------------------------
@include media-breakpoint-tab-sp {
    .l-imgTxt02 {
        &__cont {
            padding-left: 20px;
        }

        &.--rl {
            .l-imgTxt02__cont {
                padding-right: 20px;
            }
        }
    }

    .l-imgTxt03 {
        &__img {
            width: calc(50% - 80px);
        }

        &__cont {
            max-width: calc(50% + 50px);

            .ttl {
                &.--spFs1 {
                    font-size: rem(20);
                }
            }
        }
    }

    .l-imgTxt04 {
        &__cont {
            padding: 40px 0;
        }
    }
}

//Phone
// --------------------------------------------------
@include media-breakpoint-sp {
    .l-imgTxt01 {
        &.--col2>* {
            width: 100%;
            margin-right: 0;
        }

        &.--col3>* {
            width: 100%;
            margin-right: 0;
        }

        &.--sp2 {
            gap: 20px;

            >* {
                width: calc((100% - 20px) / 2);
            }

            .l-imgTxt01 {
                &__item {
                    margin-bottom: 10px;
                }

                &__ttl {
                    font-size: rem(15);
                }
            }
        }

        &.--spCol3 {
            gap: 0 4.7%;

            .l-imgTxt01__item {
                width: calc(90.6% /3);
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    .l-imgTxt02 {
        display: block;

        &__img {
            width: 100%;
            margin-bottom: 20px;
        }

        &__cont {
            width: 100%;
            margin-top: 0;
            padding-left: 0;
        }

        &.--rl {
            .l-imgTxt02__cont {
                padding-right: 0;
            }
        }
    }

    .l-imgTxt03 {
        &__img {
            width: 100%;
            margin-bottom: 30px;

            &:after {
                min-height: 0;
            }
        }

        &__inner {
            position: static;
            padding: 0 15px;
        }

        &__cont {
            width: 100%;
            max-width: 100%;
            padding-top: 0;
        }

        &.--rl {
            .l-imgTxt03 {
                margin-bottom: 5em;

                &__cont {
                    padding-top: 0;
                }
            }
        }
    }

    .l-imgTxt04 {
        &__img {
            height: 200px;
            margin-bottom: -120px;
        }

        &__cont {
            padding: 2em 0;

            .wrap {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}