/* imgTxt */
.l-imgTxt {
    &__content {
        padding: 24px 24px 15px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex:1;
    }

    &__title {
        font-size: rem(20);
        letter-spacing: 0.05em;
        line-height: 1.4;
        font-weight: 600;
        color: $text-color;
        margin-bottom: 8px;
        height: 100%;
    }

    &__label {
        font-size: rem(12);
        font-weight: 300;
        letter-spacing: 0.05em;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        padding: 1px 10px;
        width: max-content;
        border-radius: 1px;
        margin-bottom: 6px;

        &.--blue {
            background-color: #567795;
        }

        &.--green {
            background-color: #569595;
        }
    }

    &__text {
        font-size: rem(16);
        font-weight: 300;
        color: $text-color;
        letter-spacing: 0.05em;
        text-align: right;
        margin-top: auto;
    }

    &.--col3 {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .l-imgTxt {
            &__item{
                width: calc(90.6% /3);
                display: flex;
                flex-direction: column;

            }
        }
    }
}
@include media-breakpoint-tab-sp{
    .l-imgTxt{
        &__title{
            font-size: rem(13);
        }
        &__label{
            font-size: rem(10);
        }
        &__text{
            font-size: rem(11);
        }
    }
}