.p-index {
    .c-mainvisual {
        margin-bottom: rem(110);
        margin-top: -5rem;
    }
    &__servise{
        padding-top: 110px;
        background: linear-gradient(to right, #f3f3f3 78.5%, #fff 22.5%);
        .c-heading1{
            margin-bottom: rem(70);
        }
    }
}