.p-index {
    .c-mainvisual {
        margin-bottom: rem(110);
        margin-top: -5rem;
    }
    &__servise{
        padding:5.7% 0 7.8%;
        background: linear-gradient(to right, #f3f3f3 77.5%, #fff 22.5%);
        .c-heading{
            &.--multi{
                margin-bottom: rem(90);
            }
        }
    }
    &__vehicle{
        padding: 5.1% 0 7.9%;
    }
    &__works{
        padding: 5.7% 0 7.8%;
        background-color: #f3f3f3;
        .c-desc{
            margin-top: 45px;
        }
        .l-imgTxt{
            margin-bottom: 60px;
        }
    }
    &__recruit{
        background-image: url('./images/index/bg_recruit.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 7.1% 0 7.2%;
    }
    &__info{
        padding: 7.85% 0 7.9%;
    }
    &__contact{
        background-color: #f0f0f0;
        padding: 4.1% 0 2%;
    }
}
//Phone
@include media-breakpoint-sp{
    .p-index{
        .c-mainvisual{
            margin-top: 0;
        }
    }
}