// Brand Colors
// -------------------------
$brand-color:             #005DAC !default;
$brand-sub-color:         #ef3f82 !default;

// Colors
// -------------------------
$font-color:              #000 !default;
$text-color:              #333 !default;


// background Colors
// -------------------------
$header-bg:               #cccccc !default;


// Border Colors
// -------------------------
$border-color:            #333 !default;


// slick-dots
// -------------------------
$slick-dots-color:              #fff !default;
$slick-dots-border:             #000 !default;
$slick-dots-color--active:      #000 !default;
$slick-dots-border--active:     #000 !default;


// header
// -------------------------
$header-bg:               #fff !default;
$header-sub-bg:           #e7e7e7 !default;
$menu-button-color:       #000 !default;

$sp-nav-bg:               #e7e7e7 !default;
$sp-nav-border:           #000 !default;


// Content Width
// -------------------------

$content-width--narrow:         1000px !default;
$content-width:                 970px !default;
$content-width--wide:           1400px !default;


// Inner Padding
// -------------------------
$pd-x-pc:                       20px !default;
$pd-x-tab:                      20px !default;
$pd-x-sp:                       16px !default;


